-- CreateTable
CREATE TABLE "character" (
    "character_id" SERIAL NOT NULL,
    "name" VARCHAR,
    "user_id" INTEGER,

    CONSTRAINT "character_pkey" PRIMARY KEY ("character_id")
);

-- CreateTable
CREATE TABLE "character_spells" (
    "character_spell_id" SERIAL NOT NULL,
    "character_id" INTEGER,
    "spell_id" INTEGER,

    CONSTRAINT "character_spells_pkey" PRIMARY KEY ("character_spell_id")
);

-- CreateTable
CREATE TABLE "creature" (
    "creature_id" SERIAL NOT NULL,
    "name" VARCHAR,
    "name_eng" VARCHAR,
    "size" VARCHAR,
    "type" VARCHAR,
    "alignment" VARCHAR,
    "source" VARCHAR,
    "ac" VARCHAR,
    "hp" VARCHAR,
    "speed" VARCHAR,
    "strength" VARCHAR,
    "dexterity" VARCHAR,
    "constitution" VARCHAR,
    "intelligence" VARCHAR,
    "wisdom" VARCHAR,
    "charisma" VARCHAR,
    "skills" VARCHAR,
    "senses" VARCHAR,
    "languages" VARCHAR,
    "challenge" VARCHAR,
    "damage_immunity" VARCHAR,
    "damage_resistance" VARCHAR,
    "condition_immunity" VARCHAR,
    "saving_throws" VARCHAR,
    "special_abilities" VARCHAR,
    "actions" VARCHAR,
    "reactions" VARCHAR,
    "legendary_actions" VARCHAR,
    "proficiency_bonus" VARCHAR,
    "description" VARCHAR,
    "lair_actions" VARCHAR,
    "lair_info" VARCHAR,
    "region_effects" VARCHAR,
    "xp" VARCHAR,

    CONSTRAINT "creature_pkey" PRIMARY KEY ("creature_id")
);

-- CreateTable
CREATE TABLE "spell" (
    "spell_id" SERIAL NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "level" VARCHAR(255) NOT NULL,
    "school" VARCHAR(255),
    "casting_time" VARCHAR(255) NOT NULL,
    "range" VARCHAR(255) NOT NULL,
    "components" VARCHAR(500),
    "duration" VARCHAR(255) NOT NULL,
    "description" VARCHAR(10000) NOT NULL,
    "has_ritual" VARCHAR,
    "has_concentration" VARCHAR,
    "source" VARCHAR NOT NULL DEFAULT '╨Ü╨╜╨╕╨│╨░ ╨│╤Ç╨░╨▓╤å╤Å',

    CONSTRAINT "spell_pkey" PRIMARY KEY ("spell_id")
);

-- CreateTable
CREATE TABLE "spell_classes" (
    "class_id" SERIAL NOT NULL,
    "spell_id" INTEGER NOT NULL,
    "class_name" VARCHAR(255) NOT NULL,

    CONSTRAINT "spell_classes_pkey" PRIMARY KEY ("class_id")
);

-- CreateTable
CREATE TABLE "spell_races" (
    "spell_id" INTEGER,
    "race_id" SERIAL NOT NULL,
    "race_name" VARCHAR,

    CONSTRAINT "spell_races_pkey" PRIMARY KEY ("race_id")
);

-- CreateTable
CREATE TABLE "spellbook" (
    "spellbook_id" SERIAL NOT NULL,
    "user_id" INTEGER,

    CONSTRAINT "spellbook_pkey" PRIMARY KEY ("spellbook_id")
);

-- CreateTable
CREATE TABLE "spellbook_spells" (
    "spellbook_spell_id" SERIAL NOT NULL,
    "spell_id" INTEGER,
    "spellbook_id" INTEGER,

    CONSTRAINT "spellbook_spells_pkey" PRIMARY KEY ("spellbook_spell_id")
);

-- CreateTable
CREATE TABLE "user" (
    "user_id" SERIAL NOT NULL,
    "login" VARCHAR NOT NULL,
    "password" VARCHAR,

    CONSTRAINT "user_pkey" PRIMARY KEY ("user_id")
);

-- CreateIndex
CREATE UNIQUE INDEX "unique_names" ON "spell"("name");

-- AddForeignKey
ALTER TABLE "character" ADD CONSTRAINT "character_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "user"("user_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "character_spells" ADD CONSTRAINT "character_spells_character_id_fkey" FOREIGN KEY ("character_id") REFERENCES "character"("character_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "character_spells" ADD CONSTRAINT "character_spells_spell_id_fkey" FOREIGN KEY ("spell_id") REFERENCES "spell"("spell_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "spell_classes" ADD CONSTRAINT "fk_spell_classes" FOREIGN KEY ("spell_id") REFERENCES "spell"("spell_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "spell_races" ADD CONSTRAINT "spell_races_spell_id_fkey" FOREIGN KEY ("spell_id") REFERENCES "spell"("spell_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "spellbook" ADD CONSTRAINT "fk_user_id" FOREIGN KEY ("user_id") REFERENCES "user"("user_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "spellbook_spells" ADD CONSTRAINT "spellbook_spells_spell_id_fkey" FOREIGN KEY ("spell_id") REFERENCES "spell"("spell_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "spellbook_spells" ADD CONSTRAINT "spellbook_spells_spellbook_id_fkey" FOREIGN KEY ("spellbook_id") REFERENCES "spellbook"("spellbook_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

